// HEADER
.header {
	flex: 0 0 auto;
	background: red;
	&-logo {
		height: 50px;
		width: 45px;
		&-text {
			color: #1dc9ce;
			font-size: 30px;
		}
	}
	&-item {
		font-size: 14px;
		color: #ffffff;
		text-transform: uppercase;
		:last-child {
			margin-left: 0;
		}
		:hover {
			color: $accent;
		}
	}
}